body {
  background-color: #f7d9a3;
  padding: 50px;
}

div h3 {
  color: #838383;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  padding-top: 20px;
}

div h5 {
  color: #838384;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  padding-top: 20px;
}

.flex {
  background-color: white;
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 0 auto;
}

.temp {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  padding-top: 10px;
  text-align: center;
}

.humidity1 {
    margin-left: 30px;
}

.icon {
  text-align: center;
}

.weather1 {
  flex: 1;
}

i {
  color: #d7a718;
  font-size: 64px;
  text-align: center;
}

.weather2 {
  flex: 1;
  background-color: #eaeaea;
}

.weather3 {
  flex: 1;
}

.weather4 {
  flex: 1;
  background-color: #eaeaea;
}

.wi-humidity {
    font-size: 16px;
}

@media (max-width: 800px) {
  .flex {
    flex-direction: column;
  }

}

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
      .flex {
         flex-direction: column;
         width: 100%;
      }
}
