body {
  background-color: #f7d9a3;
  padding: 50px;
}

div h3 {
  color: #838383;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  padding-top: 20px;
}

div h5 {
  color: #838383;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  padding-top: 20px;
}

.flex {
  background-color: white;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: row;
}

.temperature1 {
  font-size: 26px;
  font-weight: bold;
  color: #000;
  padding-top: 10px;
  text-align: center;
}

.weather-icon1 {
  text-align: center;
}

.weather1 {
  flex: 1;
}

i {
  color: #d7a718;
  font-size: 48px;
  text-align: center;
}

.weather2 {
  flex: 1;
  background-color: #eaeaea;
}

.weather3 {
  flex: 1;
}

.weather4 {
  flex: 1;
  background-color: #eaeaea;
}

@media (max-width: 800px) {
  .flex {
    flex-direction: column;
  }

}
